
<!--<h1>Sign Up</h1>
<form  (submit)="addNewUser()" class="cf">
  <div class="half left cf">
<input id="input-firstname"  type="text" name="firstname"  placeholder="First name" [(ngModel)]="firstName"/>
<input id="input-firstname"  type="text" name="lastname"  placeholder="Last name" [(ngModel)]="lastName"/>
<input id="input-email" required="" type="email" name="email"   [(ngModel)]="email" placeholder="Email address">
<input id="input-email"  required="" type="email" name="email"  [(ngModel)]="conEmail" placeholder="Comfirm your email">-->
<!--<input id="input-password"  required="" name="password" type="password"  minlength="4" maxlength="16"  [(ngModel)]="password" placeholder="Password"> 
<input id="input-password" required="" name="password" type="password" minlength="4" maxlength="16" placeholder="Comfirm your email"  pb-role="password" [(ngModel)]="conPassword">
 
  </div>
 
  <input type="submit" value="Submit" id="input-submit">
 <a routerLink = "/signin" >Login Page</a>
  
</form>-->




<div  class="cf">
  
    <h1>Sign UP</h1>
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && addNewUser(registerForm.value)" novalidate>
      
      <fieldset class="half left cf">
       
        <input type="text" id="input" placeholder="First Name" formControlName="firstName">
        <div class='form-text error' *ngIf='registerForm.controls.firstName.touched'>
          <div *ngIf="registerForm.controls.firstName.hasError('required')">First name is required.</div>
        </div>
      </fieldset>

      <fieldset class="half left cf">
        
        <input type="text" id="input" placeholder="Last Name" formControlName="lastName">
        <div class='form-text error' *ngIf='registerForm.controls.lastName.touched'>
          <div *ngIf="registerForm.controls.lastName.hasError('required')">Last name is required.</div>
        </div>
      </fieldset> 

      
      <fieldset class="half left cf">
        <input type="email" id="input" placeholder="E-mail" formControlName="email">
        <div class="form-text error" *ngIf="registerForm.controls.email.touched">
          <div *ngIf="registerForm.controls.email.hasError('required')">Email is required.</div>
          <div *ngIf="registerForm.controls.email.hasError('invalidEmail')">Email is invalid.</div>
        </div>
      </fieldset>

      <fieldset class="half left cf">

        <input type="email" id="input" placeholder="Comfirm your email"  formControlName="conEmail" >
        <div class='form-text error' *ngIf="registerForm.controls.conEmail.touched">
          <div *ngIf="registerForm.hasError('mismatched')">Emails do not match.</div>
        </div>
      </fieldset>

      <fieldset class="half left cf">
        <input type="password" id="input" placeholder="Password" minlength='6' formControlName="password">
        <div class='form-text error' *ngIf="registerForm.controls.password.touched">
          <div *ngIf="registerForm.controls.password.hasError('required')">Password is required.</div>
          <div *ngIf="registerForm.controls.password.hasError('minlength')">Password isn't long enough.</div>
        </div>
      </fieldset>
  
      <fieldset class="half left cf">
       
        <input type="password" id="input" placeholder="Confirm Password" formControlName="confirmPassword">
        <div class='form-text error' *ngIf="registerForm.controls.confirmPassword.touched">
          <div *ngIf="registerForm.hasError('mismatchedpass')">Passwords do not match.</div>
        </div>
      </fieldset>
  

     
      <input id="input-submit" type='submit' [disabled]='!registerForm.valid' value="Submit Registration Form">
       <a routerLink = "/signin" >Login Page</a>
    </form>
    
 
</div>




