<div>
<div class="form-group row">
 <div class="col-xs-4">
    <label for="ex3">First Name</label>
    <input class="form-control" id="ex3" type="text" [(ngModel)]="lastName">
 </div>
 <div class="col-xs-4">
    <label for="ex3">Last Name</label>
    <input class="form-control" id="ex3" type="text" [(ngModel)]="lastName">
 </div>
 </div>
 <div class="form-group row">
 <div class="col-xs-4">
    <label for="ex3">Email</label>
    <input class="form-control" id="ex3" type="text">
 </div>
 <div class="col-xs-4">
    <label for="ex3">Confirm Email</label>
    <input class="form-control" id="ex3" type="text">
 </div>
 </div>
 <div class="form-group row">
 <div class="col-xs-4">
    <label for="ex3">Password</label>
    <input class="form-control" id="ex3" type="text">
 </div>
 <div class="col-xs-4">
    <label for="ex3">Confirm Password</label>
    <input class="form-control" id="ex3" type="text">
 </div>
</div>
</div>
