<footer>

  <div class="wf-container" >
  <div class="container">
  <div class="row">
  <br>
   <img style="max-width:15%; margin-top: 5px;padding-left: 50px;
        " src="assets/white_logo.png" >
    
    <div class="receive2">
    <small>Receive the Latest News & Upcoming Events</small>
    <form class="form-inline" >
     <div class="form-group">
     <input type="text" class="form-control" >
     <input type="submit" class="form-control" value="sigin up" id="sign">
     </div>
    </form>
    </div>

  </div>
  <hr>
  </div>
       

  <div class="container">
  <div class="col-md-12">
  <div class="row">
    <div class="col-md-3" ><p>STUDENTS</p></div>
    <div class="col-md-3" ><p>COMPANY</p></div>
    <div class="col-md-3" ><p>MORE</p></div>
    <div class="col-md-3" ><p>SOCIAL</p></div>
    </div>
  </div><br>
  <div class="col-md-12">
     <div class="row">
    <div class="col-md-3" ><small>Tuition</small></div>
    <div class="col-md-3" ><small>About</small></div>
    <div class="col-md-3" ><small>Contact us</small></div>
    <div class="col-md-3" >
    <div class="row"><a href="https://web.facebook.com/RBK.org/?ref=ts&fref=ts"><img src="assets/facebook.png" style="max-width:15%; padding-left: 15px;"></a>
    <a href="https://www.instagram.com/rebootkamprbk/"><img src="assets/instagram.png" style="max-width:10%;"></a>
    <a href="https://www.linkedin.com/company-beta/10224156/"><img src="assets/linkedin.png" style="max-width:10%;"></a>
    <a href="https://twitter.com/ReBootKAMP/status/860987653872898049"><img src="assets/twitter.png" style="max-width:10%;"></a>
    <a href="https://www.youtube.com/watch?v=OZuF5x5Ob_c"><img src="assets/youtube.png" style="max-width:10%;"></a></div></div>
    </div>
  </div><br>
    <div class="col-md-12">
     <div class="row">
    <div class="col-md-3" ><small>Scholarships</small></div>
    <div class="col-md-3" ><small>Team</small></div>
    <div class="col-md-3" ><small>FAQ</small></div>
    </div>
  </div><br>
    <div class="col-md-12">
     <div class="row">
    <div class="col-md-3" ><small>Student Projects</small></div>
    <div class="col-md-3" ><small>Blog</small></div>
    </div>
  </div><br>
    <div class="col-md-12">
     <div class="row">
     <div class="col-md-3" ><small>Grads</small></div>
    </div>
  </div>
  </div>
  <div  id="foot">
  <div  class="container">
  <p>&copy; <small>2017 RBK. All rights reserved.</small></p>
  </div>
  </div>
  </div>
</footer>
