body{
  overflow: auto;
}
#b{
  background-color:#C71585;
  color:white;
  padding: 12px 28px;
  
}
img{
  float: left;
}
#navbarCollapse{
  float: right;
  align: center;
  margin-top: 0px;
  padding-right:25px;
}
.fm{
   margin-right: 0px;
}
#d{
  float: right;
}
#sign{
  background-color: none;
  border: white;
}
p{
  left: 20%;
  color: white;
}
small{
  color:#F0F0F0;
}
#last{
  left:30%;
}
.wf-container{
border: 1px solid #FFFFFF;
background-color: #C71585; 
min-height:200px;
min-width:150px
}
hr{
  color:#F0F0F0;
}
#foot{
 border: 1px solid #F0F0F0;
 background:#b31277 !important; 
 padding-left: 30px;  
}
input[type=submit]:focus {
  border-size:2px;
    border-color:white;
}
input[type="submit"], textarea {
  padding-top: 2px;
  border: 2px solid white;
  color:white;
  background-color : #C71585;
}
.receive1 small{
  padding-right: 0px;
  vertical-align:bottom;
  border: none !important ;
  padding-left: 825px;
  
}
.receive2{
  padding-right: 0px;
  padding-left: 780px;
  text-align: center;
}
#r{
   position: fixed;
  bottom: 0;
}

