h3{
   color:#C71585;
}
#image{
   position: relative;
     filter: brightness(50%);
     background-repeat: no-repeat;

}
.sign{
  color:#C71585;
}
#conBorder{
  border: 0.5px solid #808080;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
label span{
    color:#C71585;
}
.btn-primary {
    background: #C71585;
    color: white;
    border:none;
}
h2.texth2{
   color:white; 
   position: absolute; 
   text-align: center;
   top: 100px;
   left: 180px; 
}
p.texth2{
   color:white; 
   position: absolute; 
   text-align: center;
   top: 190px; 
   left: 100px;
   }
.btn-default{
   background: #3B5998;
   color:white;
   width:100%;
}
.inside{
  padding: 5px;
}
