<!-- <p>
  userhome works!
</p>
<div>

<form class="cf">
<input *ngIf="!testflag" id="input-submit" type='submit' (click)="testshow()" value="view testsss">
</form>

<div *ngIf="testflag" class="sidenav">
<a (click)="testshow()"> close</a>
 <div *ngFor="let test of tests">
 <!-<a routerLink = "/test" routerLinkActive="active" >{{test.name}}</a>-->
<!--  <a [routerLink]="['/test', { _id: test.id }]">{{test.name}}</a>

 sending test id from user home component to test iew controller
 </div>
  <a href="#">About</a>
 

</div>



</div> --> 
<div class="contant">
  <div class="upper">
     <h6 class="texth0">Founding Partner</h6>
     <img id="image" src="assets/header.jpg" class="img-responsive" />
      <h6 class="texth0">Founding Partner</h6>
      <div class="texth1"> <img  src="assets/ReactorCore-Logo_RGB_small.png" class="img-responsive"/>
      </div>
      <h2 class="texth2">Become <span>Software Engineer </span>& Get a Job in 18 Weeks Only</h2>
     </div>
  <div class="under">
     <p>The rest of the website : We will work on the content and design later!!</p>
  </div>
</div>
