
#x{
  color: white;
}
h5{
  padding-left: 15px;
   color:#C71585;
}
h3{
  color:#C71585;
}
label span{
    color:#C71585;
}
.hp{
  display: inline-block;
}
#sign{
  color:#C71585;
}
#already{
  margin-left:0px;
    display:inline-block;
}
#conBorder{
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#d{
  padding-right: 0px;
}
#image{
    position: relative;
     filter: brightness(50%);
     background-repeat: no-repeat;
 }
.inside{
  padding: 5px;
}
h2.texth2{
   color:white; 
   position: absolute; 
   text-align: center;
   top: 100px;
   left: 180px; 
}
p.texth2{
   color:white; 
   position: absolute; 
   text-align: center;
   top: 190px; 
   left: 100px;
   }
.btn-primary {
    background: #C71585;
    color: white;
    border:none;
}
.btn-default{
   background: #3B5998;
   color:white;
   width:100%;
}

