<div class="container">
<div class="col-md-12">
</div>
  <div id="conBorder">
      <div class="row">
        <div class="col-md-6">
          <div class="x">
             <img id="image" src="assets/rbkStu2.jpg" class="img-responsive" />
             <h2 class="texth2"> Apply to RBK</h2>
             <p class="texth2">From here you can being your 
             application to <br>join the first code bootcamp 
             in the Arab World in <br>Amman and Mafraq, Jordan.</p>
          </div>
        </div>
          <div id="d">
           <div class="col-md-6">
             <div class="inside">
               <br>
                <h3>Create Acount</h3>
                 <div class="col-md-12">
                  <form class="form-inline" >
                     <div class="form-group">
                         <label id="already"><small>Already have an account?</small></label>
                         <label id="sign">Sign in</label>
                     </div>
                  </form>
                 </div>
                  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && addNewUser(registerForm.value)" novalidate>
                   <div class="row">
                    <div class="col-md-6">
                     <div class="form-group">
                      <label >First name <span>*</span></label>
                      <input type="text" class="form-control" id="input" placeholder="First Name" formControlName="firstName">
                      <div class='form-text error' *ngIf='registerForm.controls.firstName.touched'>
                      <div *ngIf="registerForm.controls.firstName.hasError('required')">First name is required.</div>
                     </div>
                    </div>
                   </div>
                  <div class="col-md-6">
                   <div class="form-group">
                    <label >Last name <span>*</span></label>
                     <input type="text" class="form-control" id="input" placeholder="Last Name" formControlName="lastName">
                     <div class='form-text error' *ngIf='registerForm.controls.lastName.touched'>
                     <div *ngIf="registerForm.controls.lastName.hasError('required')">Last name is required.</div>
                      </div>
                   </div>
                  </div>
                  </div>
                  <div class="row">
                   <div class="col-md-6">
                    <div class="form-group">
                     <label >Email <span>*</span></label>
                     <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
                     <div class="form-text error" *ngIf="registerForm.controls.email.touched">
                     <div *ngIf="registerForm.controls.email.hasError('required')">Email is required.</div>
                     <div *ngIf="registerForm.controls.email.hasError('invalidEmail')">Email is invalid.</div>
                     </div>
                    </div>
                   </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label >Confirm Email <span>*</span></label>
                    <input type="email" class="form-control" placeholder="Comfirm your email"  formControlName="conEmail">
                    <div class='form-text error' *ngIf="registerForm.controls.conEmail.touched">
                    <div *ngIf="registerForm.hasError('mismatched')">Emails do not match.</div>
                    </div>
                  </div>
                 </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Password <span>*</span></label>
                      <input type="password" class="form-control"  placeholder="Password" minlength='6' formControlName="password">
                      <div class='form-text error' *ngIf="registerForm.controls.password.touched">
                      <div *ngIf="registerForm.controls.password.hasError('required')">Password is required.</div>
                      <div *ngIf="registerForm.controls.password.hasError('minlength')">Password isn't long enough.</div>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label >Confirm Password <span>*</span></label>
                        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                        <div class='form-text error' *ngIf="registerForm.controls.confirmPassword.touched">
                        <div *ngIf="registerForm.hasError('mismatchedpass')">Passwords do not match.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <input type="submit" class="btn btn-primary btn-block" id="input-submit" type='submit' [disabled]='!registerForm.valid' value="Sign Up">
                    <br>
                    <div class="col-md-12">
                     <div class="col-md-6"><h5>Sign up with one click</h5></div>
                      <div class="col-md-6">
                       <a routerLink = "/" ><img src="assets/Screen Shot 2017-05-14 at 3.53.18 PM.png" class="img-responsive" width="270" height="30"/></a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
